body {
    display: flex;
    justify-content: space-between;
}
.container{
    border: 2px solid black;
    height: 300px;
    width: 300px;
}

.hidden-card {
    border: 5px solid black;
    background-color: black;
    width:fit-content
}