body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;

}


.table {
    width: 100%;
    height: 100%;
    margin: auto;
    background-size: cover;
    background-image: url('images/blackjack_table.jpg');
    display: flex;
    background-repeat: no-repeat;
    border: 1px solid black;
    position: fixed;
}

.card {
    border: 1px solid black;
    border-radius: 9px;
    width: 105px;
    height: 150px;
    float: left;
    background-color: white;
    padding: 3px;
    margin: 5px;
    z-index: -1;
}

.card .rank {
    font-size: 20pt;
}

.card .suit {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.card .spades {
    background-image: url('images/spade.png');
    background-repeat: no-repeat;
}

.card .diamonds {
    background-image: url('images/diamond.png');
    background-repeat: no-repeat;
}

.card .hearts {
    background-image: url('images/heart.png');
    background-repeat: no-repeat;
}

.card .clubs {
    background-image:url('images/club.png');
    background-repeat: no-repeat;
}

.hidden-card {
    background-image: url('images/back_of_card.jpg') !important; 
    background-size: cover;
    z-index: 99;
    border: 1px solid black;
    border-radius: 9px;
    width: 105px;
    height: 150px;
    padding: 3px;
    margin: 5px;
    position: absolute;
    top: 0;
    left: 123px;
    
}

.dealers-side {
    width: 100%;
}

#deck-container {
    display: flex;
    position: fixed;
    top: 5%;
    right: 100px;
    background-color: rgba(0, 0, 0, .5);
    width: 20%;
}

/* #dealer-container {
    width: 100%;
    height: 50%
} */

#dealer-hand {
    display: inline-flex;
    position: fixed;
    top: 25%;
    right: 40%;
    left: 40%;
    width: 100%;
}

#play-actions {
    border-radius: 10%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    display: flex;
    right: 0px;
    bottom: 0px;
    width: 30%;
    height: 30%;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.action {
    display: flex;
    padding-top: 10%;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;
}

.action-btn {
    width: 20%;
    height: 100%;
    font-size: 1.5em;
}

.bets {
    display: flex;
    justify-content: space-evenly;
}

#bet-amounts {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.chip {
    margin: 10px;
}

#player-container {
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 70%;
    height: 40%
}

#player-stats {
    border: 1px solid black;
    padding: 10px 50px 10px 50px;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    flex-direction: column;
    bottom: 0%;
    left: 5%;
    width: 10%;
}

#player-hand {
    display: inline-flex;
    position: fixed;
    right: 40%;
    left: 40%;
    width: 50%;
}

#player-cards {
    padding: 50px;
}

#player-split-cards {
    padding: 50px;
}
p {
    font-size: 1em;
    color: white;
}